#original file with git configurations is in $HOME
[user]
	email = marekzuwala@gmail.com
	name = marek-02

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p